<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		table, th, td {
		    border: 1px solid black;
		    border-collapse: collapse;
		}
	</style>
</head>
<body>
	<div id="app">
		<ol>
			<li v-for="proLanguage in proLanguages">
				{{proLanguage.category}}
				<ul>
					<li v-for="sub in proLanguage.subCat">
						{{sub}}
					</li>
				</ul>
			</li>
		</ol>
	</div>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
	<script>
		new Vue({
			el:'#app',
			data:{
				proLanguages:[
					{category: "Javascript", subCat: ["Vue JS","React JS", "Angular2 JS"]},
					{category: "Databases", subCat: ["MySQL","PostgreSQL", "MariaDB"]}
				]
			},

		});
	</script>


</body>
</html>

